@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

body {
	background-color: #303d50;
	margin: 2em;
}

h1{
	color: #FFFFFF;
	font-family: "Josefin Sans", serif;
	letter-spacing: .2em;
	font-size: 400%;
}

h2 {
	font-weight: normal;
	color: #FFFFFF;
	font-family: "Josefin Sans", serif;
	letter-spacing: .2em;
	font-size: 200%;
}

div {
	text-align: center;
	margin: 0em 0em 0em 10em;
}

header {
	background-color: #4B5F7D;
	border: solid;
	border-color: #4B5F7D;
	border-radius: 2em;
	border-width: .5em;
}

section {
	float: right;
	display: block;
	width: 52%;
	padding-top: 5em;
	padding-right: 2em;

}

img {
	display: block;
	object-fit: cover;
	float: left;
	overflow: visible;
	width: 41%;
	margin: 1em 0;
	border-radius: 2em;
}

button {
    border-radius: 3em;
    background-color: transparent;
    text-align: center;
    border: solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
    padding: 1em;
    font-weight: 500;
    cursor: pointer;
    margin: 1em 1em 1em 1em;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}

button:hover {
	background-color: #FFFFFF;
	color: #303d50;
}

h3 {
	font-weight: normal;
	color: #FFFFFF;
	font-family: "Josefin Sans", serif;
	letter-spacing: .2em;
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;
}

a {
	text-decoration: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 1430px) {
	img {
		width: 39%;
	}

	section {
		width: 57%;
	}
}

@media only screen and (max-width: 1302px) {
	section {
		width: 58%;
		padding-top: 0;
		padding-left: .5em;
	}

	img {
		width: 37%;
	}
}

@media only screen and (max-width: 1277px) {
	h1 {
		font-size: 300%;
	}

	h2 {
		font-size: 150%;
	}

	article {
		width: 50%;
	}

	button {
		margin: .5em;
	}
}

@media only screen and (max-width: 1163px) {
	a {
		font-size: .9em;
	}

}

@media only screen and (max-width: 1060px) {
	article {
		width: 75%
	}

	img {
		margin-top: 2.5em;
	}

	h1 {
		font-size: 285%;
	}

}

@media only screen and (max-width: 894px) {

	section {
		width: 94%;
	}

	h1 {
		font-size: 230%;
	}

	h2 {
		font-size: 150%;
	}

	img {
		float: none;
		width: 70%;
		margin-left: 5em;
		padding-top: 1em;
	}

	article {
		width: 100%;
	}

}

@media only screen and (max-width: 688px) {
	article {
		width:55%;
	}
}


@media only screen and (max-width: 629px) {

	article {
		width: 61%;
	}
}

@media only screen and (max-width: 500px) {

	header {
		padding-left: 2em;
	}

	article {
		width: 92%;
	}
}

